@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.edit-wh{
    background-color: $primary-color-3;
    margin: 0 1rem;
    position: relative;
    top: -4rem;
    &__header{
        height: 5.75rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 2rem 1.5rem 1.5rem;
    }
    &__back-link{
        width: 24px;
        height: 24px;
        border: solid black 1px;
    }
    &__title{
        font-size: 1.75rem;
        font-weight: 600;
    }
    &__divider{
        border: $secondary-color-2 solid 1px;
    }
}