@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.td {
  &__link {
    display: flex;
    align-items: center;
    &:hover{
      text-decoration: underline $primary-color-2;
    }
  }

  &__link-text {
    color: $primary-color-2;
    font-weight: 600;
  }

  &--actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    @include tablet {
      flex: 0.6;
      justify-content: normal;
      gap: 0.5rem;
      padding: 0.5rem 1rem 0.5rem 0rem;
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &--actions-edit {
    display: flex;
    align-items: center;
  }

  &__heading {
    color: $secondary-color-1;
    margin-bottom: 4px;
    font-weight: 600;

    @include tablet {
      display: none;
    }
  }

  &--category {
    @include tablet {
      flex: 0.62;
      padding: 0.5rem 0rem;
    }
  }

  &--item {
    @include tablet {
      flex: 0.62;
      padding: 0.5rem 0.8rem;
      padding-right: 0;
      flex: 0.7;
    }
  }

  &--qty {
    @include tablet {
      flex: 0.5;
      padding: 0.5rem 0.8rem;
    }
  }

  &--status {
    @include tablet {
      padding: 0.5rem;
      flex: 1;
    }
  }

  &--warehouse {
    @include tablet {
      flex: 1;
      padding: 0.5rem 0rem;
      margin-left: 1rem;
    }
  }
}
