@use "../partials/typography" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 28px;
  line-height: 36px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}

h3,
.p-medium {
  font-size: 13px;
  line-height: 20px;
}

h4 {
  font-size: 11px;
  line-height: 16px;
}

input {
  height: 36px;
  width: 100%;
  padding: 0 16px;
  margin-top: 4px;
  border-radius: 20px;
  opacity: 1;
  outline: none;
  border: 1px solid $secondary-color-2;

  &::placeholder {
    color: $secondary-color-1;
    opacity: 1;
  }

  &:focus {
    border: 1px solid $primary-color-2;
    color: $primary-color-1;
  }
}

.error {
  border: 1px solid $supporting-color-2;
  color: $secondary-color-1;
}

.p-large {
  font-size: 15px;
  line-height: 26px;
}

.p-small {
  font-size: 11;
  line-height: 16px;
}

.button {
  width: 100%;
  height: 36px;
  padding: 0 16px;
  border-radius: 20px;
  background-color: $primary-color-2;
  color: $primary-color-3;
  border: none;

  &:hover {
    background-color: $bg-color-1;
  }

  &--cancel {
    background-color: $primary-color-3;
    border: 1px solid $secondary-color-2;
    color: $secondary-color-2;

    &:hover {
      background-color: $primary-color-3;
      border: 1px solid $primary-color-3;
      color: $primary-color-1;
    }
  }

  &--delete {
    background-color: $supporting-color-2;
    color: $primary-color-3;

    &:hover {
      background-color: $bg-color-1;
    }
  }
}

.tag {
  height: 24px;
  padding: 4px 8px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;

  &--out-of-stock {
    background-color: rgba(201, 69, 21, 0.07);
    color: $supporting-color-2;
  }

  &--in-stock {
    background-color: rgba(21, 132, 99, 0.07);
    color: $supporting-color-1;
  }
}

.divider {
  border: none;
  border-bottom: 1px solid $secondary-color-2;
}
