$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$font-family: "Titillium", sans-serif;
$primary-color-1: #13182c;
$primary-color-2: #2e66e5;
$primary-color-3: #ffffff;
$secondary-color-1: #5c667e;
$secondary-color-2: #bdc5d5;
$bg-color-1: #232940;
$bg-color-2: #f7f8f9;
$supporting-color-1: #158463;
$supporting-color-2: #c94515;
$box-shadow-color: #13182c1a;
$hovered-item-color: #2e66e512;
$table-header-bg-color: #f7f8f9b2;
