@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wh-td {
  &__link {
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline $primary-color-2;
    }
  }

  &__link-text {
    color: $primary-color-2;
    font-weight: 600;
  }

  &--actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    @include tablet {
      flex: 0.64;
      justify-content: normal;
      gap: 0.5rem;
      padding: 0.5rem 0;
      align-items: center;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &--actions-edit {
    display: flex;
    align-items: center;
  }

  &__heading {
    color: $secondary-color-1;
    margin-bottom: 0.25rem;
    font-weight: 600;

    @include tablet {
      display: none;
    }
  }

  &--name {
    @include tablet {
      flex: 0.62;
      padding: 0.5rem 0.8rem;
    }
  }

  &--address {
    @include tablet {
      flex: 0.62;
      padding: 0.5rem 0.8rem;
    }
  }

  &--contact-info {
    @include tablet {
      padding: 0.5rem 0rem 0.5rem 1rem;
      flex: 0.8;
    }
  }

  &--contact-name {
    @include tablet {
      flex: 0.7;
      padding: 0.5rem 0rem 0.5rem 0.5rem;
    }
  }
}
