@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;

.delete {
    margin:1rem;
    &__innerSec {
        display: inline-block;
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    &__iconDiv {
        display: inline-flex;
        width: 100%;
        justify-content: end;
    }
    &__question {
        font-weight: 1.75rem;
        font-weight: 600;
        color: $primary-color-1;
    }
    &__description {
        font-weight: .9375rem;
        color: $primary-color-1;
    }
    &__buttonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 1rem;
        gap: .625rem;
    }
    &__cancelBtn {
        font-size: .8125rem;
        color: $secondary-color-1;
        border-radius: 1.25rem;
        padding: .5rem, 3.9375rem;
        height: 2.25rem;
        width: 8.625rem;
    }
    &__deleteBtn {
        font-size: .8125rem;
        color: white;
        background-color: $supporting-color;
        border-radius: 1.25rem;
        height: 2.25rem;
        width: 8.625rem;
        padding: .5rem, 3.9375rem;
    }
}