@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
  @include desktop {
    padding: 0 0 0.5rem 0;
  }

  &__header {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;

      align-items: center;
      background-color: #f7f8f9b2;
      padding: 0 2rem;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    border-top: solid 1px $secondary-color-2;

    @include tablet {
      flex-direction: row;
      padding: 0 2rem;
      width: 100%;
      border-top: none;
      border-bottom: solid $secondary-color-2;
    }

    &:hover {
      background-color: $hovered-item-color;
    }
  }

  &__item {
    padding: 1rem 0;
    display: flex;
    gap: 20%;

    @include tablet {
      gap: 0;
      width: 100%;
      padding: 0;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 70%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      gap: unset;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1.5rem 0rem;

    @include tablet {
      flex-direction: row;
      justify-content: start;
      gap: 1rem;
      margin-right: 0;
      padding: 1rem;
    }
  }
}

.cell {
  &--status {
    @include tablet {
      margin-left: -3rem;
    }
  }

  &--category {
    @include tablet {
      margin-left: 1rem;
    }
  }

  &--qty {
    @include tablet {
      margin-left: -0.5rem;
    }
  }

  &--warehouse {
    @include tablet {
      margin-left: -2rem;
    }
  }

  &__heading {
    font-weight: 600;
    color: $secondary-color-1;
    padding-bottom: 0.25rem;

    @include tablet {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__link-text {
    color: $primary-color-2;
    font-weight: 600;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;

    &--chevron {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.header-cell {
  @include tablet {
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
  }

  &__sort-icon--hidden {
    visibility: hidden;
  }

  &__title {
    @include tablet {
      font-weight: 600;
      color: $secondary-color-1;
      padding-bottom: 0.25rem;
    }
  }

  &--item {
    @include tablet {
      padding-right: 1.5rem;
    }
    @include desktop {
      padding-right: 3.5rem;
    }
  }

  &--category {
    @include tablet {
      margin-left: -1.5rem;
      padding-right: 1rem;
    }
    @include desktop {
      padding-right: 3.5rem;
    }
  }

  &--status {
    @include tablet {
      margin-left: -1rem;
      padding-right: 2.5rem;
    }
    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &--quantity {
    @include tablet {
      margin-left: -1.5rem;
    }
    @include desktop {
      padding-right: 0rem;
    }
  }

  &--warehouse {
    @include tablet {
      margin-left: -0.5rem;
    }
    @include desktop {
      margin-left: -2rem;
    }
  }
}

// doesn't work
.inventory-list:last-child > border:last-child {
  border: none;
}
