@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list {
  &__item-wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    &:hover {
      background-color: $hovered-item-color;
    }
  }

  &__item {
    padding: 16px 24px;
    display: flex;
    gap: 20%;

    @include tablet {
      gap: 0;
      flex: 1;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      flex: 1;
      gap: unset;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      flex: 2;
      gap: unset;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 24px 16px;

    @include tablet {
      flex-direction: row;
      justify-content: start;
      gap: 16px;
    }
  }
}

.cell {
  @include tablet {
    flex: 1;
  }

  &--no-flex {
    @include tablet {
      flex: none;
      padding: 0 10% 0 15%;
    }
  }

  &__heading {
    font-weight: 600;
    color: $secondary-color-1;
    padding-bottom: 4px;

    @include tablet {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__link-text {
    color: $primary-color-2;
    font-weight: 600;
  }

  &__icon {
    width: 24px;
    height: 24px;

    &--chevron {
      width: 20px;
      height: 20px;
    }
  }
}

.inventory-list__header {
  display: none;

  @include tablet {
    display: flex;
  }
}

.header-cell {
  @include tablet {
    padding: 16px;
    display: flex;
    align-items: flex-start;
  }

  &__title {
    @include tablet {
      font-weight: 600;
      color: $secondary-color-1;
      padding-bottom: 4px;
    }
  }
}
