@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-list > .p-medium {
  color: $primary-color-1;
}

.inventory-list:last-child > hr:last-child {
  display: none;
}

.inventory-list {
  @include desktop {
    padding: 0;
  }

  &__header {
    display: none;

    @include tablet {
      display: flex;
      background-color: #f7f8f9b2;
      padding: 0.5rem 1rem;
    }

    @include desktop {
      display: flex;
      background-color: #f7f8f9b2;
      padding: 0.5rem 2rem;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;

    @include tablet {
      flex-direction: row;
      width: 100%;
      padding: 0.5rem 1rem;
    }

    @include desktop {
      flex-direction: row;
      width: 100%;
      padding: 0.5rem 2rem;
    }

    &:hover {
      background-color: $hovered-item-color;
    }
  }

  &__item {
    padding: 1rem 0;
    display: flex;
    gap: 3rem;

    @include tablet {
      width: 100%;
      padding: 0;
      gap: 0;
      flex: 5.5 !important;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 70%;
      gap: 0;
      flex: 0.77 !important;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 50%;
      gap: 0;
      flex: 1 !important;
    }
  }
}

.th-cell {
  @include tablet {
    display: flex;
    flex: 1;
    padding: 0.5rem 0.8rem;
  }

  &__sort-icon {
    @include tablet {
      width: 1rem;
      height: 1rem;
    }
  }

  &__title {
    color: $secondary-color-1;
    font-weight: 600;

    @include tablet {
      font-size: 0.7125rem;
    }
  }

  &--qty {
    @include tablet {
      flex: 0.5;
    }
  }

  &--actions {
    @include tablet {
      flex: 0.5 !important;
    }
  }
}
