@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-wh {
  background-color: $primary-color-3;
  margin: 0 1rem;
  position: relative;
  top: -4rem;
  margin-bottom: -1.5rem;
  color: $primary-color-1;
  box-shadow: 0 0.125rem 0.3125rem 0 #13182c1a;
  border-radius: 0.25rem;
  @include tablet {
    margin: 2rem;
    top: -8rem;
  }
  @include desktop {
    max-width: 63.75rem;
    margin: auto;
    top: -6rem;
  }
  &__header {
    height: 5.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 1.5rem 1.5rem;
    @include tablet {
      padding: 2rem;
    }
    @include desktop {
      padding: 2rem 2.5rem;
    }
  }
  &__back-link {
    width: 1.5rem;
    height: 1.5rem;
  }
  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__divider {
    border: none;
    border-top: $secondary-color-2 solid 0.0625rem;
    border-left: $secondary-color-2 solid 0.0625rem;
    margin-top: 0.1875rem;
    &--vertical {
      margin-top: 1.5rem;
    }
  }
  .form {
    &__sections {
      @include tablet {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
      }
    }
    &__section {
      padding: 0 1.5rem;
      @include tablet {
        width: 100%;
      }
      @include tablet {
        padding: 0 2rem;
      }
      @include desktop {
        padding: 0 2.5rem;
      }
    }
    &__subtitle {
      font-weight: 600;
      font-size: 1.25rem;
      padding: 1rem 0 0.5rem;
      @include tablet {
        font-size: 1.5rem;
        padding: 1.5rem 0 0.5rem;
      }
    }
    &__label {
      font-weight: 600;
      font-size: 0.8125rem;
      padding: 1rem 0 0.25rem;
      @include tablet {
        font-size: 0.875rem;
        padding-top: 1.5rem;
      }
    }
    &__input {
      border: 0.0625rem $secondary-color-2 solid;
      border-radius: 1.25rem;
      height: 2.25rem;
      width: 100%;
      padding: 0 1rem;
      &:focus-visible {
        border-color: $primary-color-2;
        outline: none;
      }
      &--error {
        border-color: $supporting-color-2;
      }
      @include tablet {
        height: 2.375rem;
      }
    }
    &__error {
      color: $supporting-color-2;
      font-size: 0.6875rem;
      position: relative;
      @include tablet {
        font-size: 0.75rem;
      }
      &--icon {
        height: 1rem;
        width: 1rem;
        position: relative;
        top: 0.1875rem;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 4.25rem;
    background-color: $bg-color-2;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    @include tablet {
      justify-content: flex-end;
      margin-top: 2rem;
    }
  }
  &__cancel {
    color: $secondary-color-1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8125rem;
    height: 2.25rem;
    width: 50%;
    border: 0.0625rem solid $secondary-color-2;
    border-radius: 1.25rem;
    background-color: $primary-color-3;
    &:hover {
      border: 0.0625rem solid $primary-color-2;
      color: $primary-color-2;
    }
    @include tablet {
      width: auto;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
    }
  }
  &__save {
    @extend .add-wh__cancel;
    background-color: $primary-color-2;
    color: $primary-color-3;
    border: none;
    &:hover {
      background-color: $bg-color-1;
      color: $primary-color-3;
      border: none;
      cursor: pointer;
    }
  }
}
