@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.search {
  padding: 16px;

  @include tablet {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: end;
    z-index: 1;
    align-items: center;
  }

  &__control {
    position: relative;
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  &__input {
    @include tablet {
      height: 38px;
      width: 185px;
    }

    @include desktop {
      width: 300px;
    }
  }
}
