.wh-details {
  &__wrapper {
    background-color: $primary-color-3;
    margin: 0 1rem;
    position: relative;
    top: -4rem;
    color: $primary-color-1;
    box-shadow: 0rem 0.125rem 0.3125rem 0rem #13182c1a;
    border-radius: 0.25rem;
  }
}
