@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  position: relative;
  height: 100vh;
  background-color: $bg-color-2;
}

.inventory {
  position: absolute;
  top: -60px;
  left: 16px;
  z-index: 1;
  background: white;
  right: 16px;
  box-shadow: 0 2px 5px $box-shadow-color;

  @include tablet {
    top: -86px;
  }

  @include desktop {
    max-width: 63.75rem;
    margin: auto;
  }

  &__title-bar {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__heading {
    padding: 24px 16px 16px 16px;
    font-weight: 600;
    font-style: normal;

    @include tablet {
      flex: 1;
    }
  }
}
