@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  position: relative;
  height: 100%;
  background-color: $bg-color-2;
}

.inventory {
  position: relative;
  top: -3.75rem;
  margin: 0 1rem;
  z-index: 1;
  background: white;
  box-shadow: 0 2px 5px $box-shadow-color;

  @include tablet {
    top: -5.375rem;
    margin: 0 2rem;
  }

  @include desktop {
    max-width: 63.75rem;
    margin: auto;
  }

  &__title-bar {
    @include tablet {
      display: flex;
      align-items: center;
    }

    @include desktop {
      padding: 0 1.5rem;
    }
  }

  &__heading {
    padding: 1.5rem 1rem 1rem 1rem;
    font-weight: 600;
    font-style: normal;
  }
}
